/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

html{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #e1e1e8;
}

.container{
    width: 100%;
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.header{
    background-color: #4169E1;
    height: 50px;
    font-size: 1.5rem;
    width: 100%;
}

ul{

}

.top_menu li {
    list-style: none;
}

.li_top a{
    float: right;
    color: white;
    display: block;
    padding: 15px;
}

.li_top a:hover{
    background-color: #000080;
    text-decoration: none;
}

.li_logo{
    float: left;
}


.crearfix:after{
    content: '';
    display: none;
    clear: both;
}

footer {
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    height: 50px;
    bottom: 0;
    position: fixed;
}

.footer p {
    margin-top: 15px
}

.errors_msg{
    list-style: none;
}

.info .notice{
    font-size: 3rem;
    text-align: center;
}