// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blogs_new{
  padding-top: 30px;
  text-align: center;
}

#textarea {
  width: 400px;
  max-height: 200px;
  min-height: 100px;
  padding: 8px;
  line-height: 20px;
}

table{
  display: block;
  text-align: center;
  margin: auto;
  table-layout: fixed;
}

.show_td{
  padding: 10px;
  text-align: center;
}

.index_table{
  border-collapse: collapse;
  padding-top: 30px;
  padding-left: 30%;
  display: block;
  text-align: center;
  table-layout: fixed;
}

.index_table tr{
  height: 3rem;
}

.index_table th{
  color: black;
  border:solid 2px #0e0e0e
}

table th {
  width: 300px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.index_table td{
  width: auto;
  padding-left: 1rem;
  border:solid 2px #0e0e0e;
}