// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blogs_new{
  padding-top: 30px;
  text-align: center;
}

#textarea {
  width: 400px;
  max-height: 200px;
  min-height: 100px;
  padding: 8px;
  line-height: 20px;
}